.cards{
    margin-top: 800px;
    display: flex;
    justify-content: center;
}

.card{
    background-color: black;
    margin: auto;
    width: 500px;
    color: white;
    border-radius: 50px;
}

.card .content{
    padding: 30px;
   
}

.card div{
    padding: 10px;
   
}

a{
    color:white
}

.card .cardresume{
    text-align: justify;
}

@media (max-width:900px){
    .cards{
        margin-top: 900px;
        display: inline-block;
    }
    .card{
        background-color: black;
       
        width: 400px;
        color: white;
        border-radius: 50px;
        margin-bottom: 50px;
    }
}